header {
            background: #7700FF;
            // background: #ffffff;

            .logo {
                font-weight: bold;
            }

            nav {
                justify-self: right;
            
                ul {
                    list-style-type: none;
                    margin: 0; padding: 0;

                    li {
                        float: left;

                        a {
                            padding: 1.5em;
                            text-transform: uppercase;
                            font-size: .8em;
                            color: #000000;
                            &:hover {
                                background: #8E2BFF;
                                // background: #000000;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
